*.iml
.gradle
/local.properties
.claude/settings.local.json
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
/app/build
/app/release
/keystore/
